// Defining vars
$primary :#513933;
$secondary :#af4238;
$info:#7731bc;
$success:#539320;
$warning:#fdba4c;
$danger:#e71461;
$dark:#1c1b4e;
$light :#fae3d9;

// Import boostrap
@import '../../libs/bootstrap/scss/bootstrap.scss';

